<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Virtual</title>
    <link rel="stylesheet" href="\public\stylesheets\style.css">
</head>
<body>
    <%- include('partials/_header.ejs') %>

    <div class="container">
        <div class="card">
            <h1>Bienvenido al Aula Virtual</h1>
            <p>
                ¡Bienvenido a tu espacio de aprendizaje en línea! Aquí podrás acceder 
                a todos los recursos educativos que necesitas para avanzar en tus estudios.
                Ya seas estudiante o profesor, este aula virtual es tu punto de encuentro 
                para acceder a asignaturas, materiales, tareas y mucho más.
                <br>
                Gestionado por Jorge, Álex, Miguel y Fiorella.
            </p>
        </div>
    </div>

    <%- include('partials/_footer.ejs') %>
</body>
</html>