<%- include('partials/_header.ejs') %>

    <!--Parte derecha: Formulario para a単adir un usuario. Parte izquierda: Listado de usuarios-->

    <div class="container">
        <div class="row">
            <% if (user.rol==="administrador" ) { %>
                <!-- Formulario para a単adir asignatura) -->
                <div class="col-md-6">
                    <h2>A単adir Software</h2>
                    <form action="/software/add" method="post">
                        <!--en este controlador hay que pasarle todos los datos de usuarios.rol= alumno/profesor -->

                        <div class="form-group">
                            <label for="link">Link:</label>
                            <input type="text" class="form-control" id="link" name="link" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripcion:</label>
                            <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                        </div>

                        <button type="submit" class="btn btn-primary">A単adir</button>
                    </form>
                </div>
                <% } %>

                

                   
    <%- include('partials/_footer.ejs') %>